:root {
    --main-color: #0B162C;
    --secondary_color: #1C2942;
    --header_text: #fff;
    --background: #1C2942;
    --background_ideas: #3b556d;
    --input_background: #3b556d;
    --text_idee: white; 
    --button_font_color: #fff;
}