:root {
    --main-color: #dc4c3e;
    --white: white;
    --background: #EEEEEE;
    --input_background: #f1f1f1;
}


html {
    font-family: sans-serif;

}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
}

header {
    background-color: var(--main-color);
    width: 100vw;
    text-align: center;
    color: var(--white);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

body,
div,
form,
input,
select,
p,
textarea {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: var(--main-color);
}

input:focus,
textarea:focus {
    color: #000;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    font-weight: 400;
    padding: 0%;
    margin: 0%;
}

h3,
h4,
h5 {
    padding: 0%;
    margin: 0%;
}

h2 {
    margin: 0 0 0 8px;
}

form {
    background: var(--white);
}

input,
select,
textarea {
    padding: 5px;
    background: var(--input_background);
    border: none;
    border-bottom: 1px solid var(--main-color);
}


#champ_nouvelle_idee {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



.input_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25vw;
    background-color: var(--background );
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}




.btn-item:hover {
    background: #85d6de;
}

.hidden {
    margin-top: -800px;
    transition: all 1s ease-in-out;
}

.visible{
    display: flex;
    margin-top: 0px;
    transition: all 1s ease-in-out;
}

.button_wrapper{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    width: 20vw;
    height: 5vh;
    background-color: var(--main-color);
    margin: 20px;
    border: solid 3px var(--main-color);
}

.button_wrapper:hover{
    background-color: var(--white);
}

button{
    width: 100%;
    background: transparent;
    border: none;
    color: var(--white);
}

button:hover{
       color: var(--main-color); 
}

.ideas_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white );
    width: 60vw;
    padding: 10px;
    margin-top: 15px;
}

.idea{
    width: 95%;
    padding: 15px;
    border: solid 1px var(--main-color);
    border-radius: 5px;
}

.en-tete_idee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (min-width: 568px) {

    html,
    body {
        height: 100%;
    }
}